body, html { 
  font-family: 'Calibri';
}

#container {
	width: 800px;
	margin: auto;
}

.drop {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}

.drop.highlight {
  border-color: purple;
}