@font-face {
  font-family: MarkPro;
  src: url("./fonts/MarkPro.otf") format("opentype");
}

@font-face {
  font-family: MarkPro;
  font-weight: bold;
  src: url("./fonts/MarkPro Bold.otf") format("opentype");
}

body {
  font-family: 'MarkPro';
}