@font-face {
  font-family: SlalomSans;
  src: url("./fonts/SlalomSans_Regular.otf") format("opentype");
}

@font-face {
  font-family: SlalomSans;
  font-weight: bold;
  src: url("./fonts/SlalomSans_Bold.otf") format("opentype");
}

body {
  font-family: 'SlalomSans';
}